# CSS-style

div.fixed {
  position: fixed;
  top: 40;
  right: 20;
}
img {
  height: 100px;
  max-width: 30%;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-decoration: overline;
}
  

